<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cписок товаров</title>
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-secondary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Dr. Martens Shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li>
                        <a class="nav-link active" aria-current="page" th:href="@{/cart}">Корзина</a>
                    </li>
                    <li>
                        <a class="nav-link active" aria-current="page" th:href="@{/orders}">Заказы</a>
                    </li>
                </ul>
                <form class="d-flex" role="presentation"  method="post" action="/logout">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <button class="btn btn-outline-danger" type="submit">Выйти из личного кабинета</button>
                </form>
            </div>
        </div>
    </nav>
<h1 class="h1 app_title mt-3">Результаты поиска</h1>
<h3>Cортировка, поиск, фильтрация</h3>
<form th:method="POST" th:action="@{/product/search}">
    <fieldset>
        <legend>Выберите параметры для сортировки, поиска, фильтрации:</legend>
        <label for="search">Поиск по наименованию</label>
        <input type="text" id="search" name="search" th:value="*{value_search}">
        <br>
        <p>Цена, P</p>
        <label for="ot">От</label>
        <input type="text" name="ot" id="ot" th:value="*{value_price_ot}">
        <label for="do">До</label>
        <input type="text" name="do" id="do" th:value="*{value_price_do}">
        <br>
        <br>
        <div>
            <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">
            <label for="ascending_price">Отсортировать по возрастанию цены</label>
            <input type="radio" id="descending_price" name="price"
                   value="sorted_by_descending_price">
            <label for="descending_price">Отсортировать по убыванию цены</label>
            <p>Категория товаров: </p>
            <input type="radio" id="furniture" name="contract" value="furniture">
            <label for="furniture">Мебель</label>
            <input type="radio" id="appliances" name="contract" value="appliances">
            <label for="appliances">Бытовая техника</label>
            <input type="radio" id="clothes" name="contract" value="clothes">
            <label for="clothes">Обувь</label>
            <br>
            <br>
            <input type="submit" value="Найти">
        </div>
    </fieldset>
</form>
<hr>
<h3>Результат поиска, cортировки, фильтрации</h3>
<div th:each="product : ${search_product}">
    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
    <br>
    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
    <hr>
</div>
<hr>
<h3>Доступные товары: </h3>
<div th:each="product : ${products}">
    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
    <br>
    <a class="btn btn-outline-success"  th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
        <p th:text="'Цена: ' + ${product.getPrice()}"></p>
        <hr>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>